@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table>
    <thead>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            Department
        </th>
        <th>
            Designation
        </th>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Department.Name</td>
                <td>@item.Designation</td>
                <td>
                    <a href="Employee/Update/@item.Id">Edit</a>
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    
</table>
